<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Libre</title>
  </head>
  <body>
    <!-- HEADER-->
    <header>
      <img
        src="static/images/logo-mercado-liebre.svg"
        alt="Logo Mercado Libre"
      />
      <input type="text" placeholder="Buscar producto">
      <p>Comprá en cuotas y sin tarjeta de crédito</p>
      <ul>
        <li>
          <a href="#">Ofertas</a>
        </li>
        <li>
          <a href=#"> Tiendas Oficiales</a>
        </li>
        <li>
            <a href="#"> Vender</a>
        </li>
        <li>
            <a href="#"> Ayuda</a>
        </li>
        <br />
        <li>
            <a href="#">Crea tu cienta</a>
        </li>
        <li>
            <a href="#">Ingresa</a>
        </li>
        <li>
            <a href="#">Mis compras</a>
        </li>
      </ul>
      <img src="static/images/img-home-banner.jpg" alt="banner" style="width: 100vw;">
    </header>
    <!-- MAIN-->
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="static/images/img-cafetera-moulinex.jpg" alt="Cafetera" style="width: 80vw;"> 
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>
            </article>
            <article>
                <img src="static/images/img-macbook-pro-2019.jpg" alt="Macbook" style="width: 80vw;">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p><strong>MacBook Pro 2019</strong></p>
            </article>
            <article>
                <img src="static/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" style="width: 80vw;">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </article>
            <article>
                <img src="static/images/img-tv-samsung-smart.jpg" alt="TV Samsung" style="width: 80vw;">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p><strong>SmartTv Samsung</strong></p>
            </article>
        </section>
        <section>
            <h2>Sección de Ofertas</h2>
            <article>
                <img src="static/images/img-cafetera-moulinex.jpg" alt="Cafetera" style="width: 80vw;"> 
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>
            </article>
            <article>
                <img src="static/images/img-macbook-pro-2019.jpg" alt="Macbook" style="width: 80vw;">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p><strong>MacBook Pro 2019</strong></p>
            </article>
            <article>
                <img src="static/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" style="width: 80vw;">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </article>
            <article>
                <img src="static/images/img-tv-samsung-smart.jpg" alt="TV Samsung" style="width: 80vw;">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p><strong>SmartTv Samsung</strong></p>
            </article>
        </section>
    </main>
    <footer>
        <div style="text-align:center">
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div style="text-align:center">
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div style="text-align:center">
            <h3> Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
            <h3>
        </div>
        <h3 style="text-align:center">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
  </body>
</html>
