<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style-home.css">
  </head>
  <body>
    <!-- HEADER-->
    <header class = "main-header">
        <div class="main-header-top-bar"> 
            <img class="logo"
                    src="/images/logo-mercado-liebre.svg"
                    alt="Logo Mercado Liebre"/>
            <div class="search-input">     
                <input class="input" type="text" placeholder="Buscar producto">
                <i class="fas fa-search"></i>
            </div>       
        </div>    
      <h2 class="text-header">
            <marquee>
                <i class="fas fa-hand-holding-usd"></i>¡Comprá en cuotas y sin tarjeta de crédito!
            </marquee>
      </h2>

      <div class="hamburger-button">
        <i class="fas fa-bars"></i>
      </div>

      <nav class="main-nav-bar">
        <ul class="left-navbar">
            <li>
              <a class="texto" href="#">Ofertas</a>
            </li>
            <li>
              <a class="texto" href=#"> Tiendas Oficiales</a>
            </li>
            <li>
                <a class="texto" href="#"> Vender</a>
            </li>
            <li>
                <a class="texto" href="#"> Ayuda</a>
            </li>
           </ul> 
           <ul class="right-navbar">
                <li>
                    <a class="texto" href="./sign-up">Crea tu cuenta</a> 
                    <i class="fas fa-user-circle"></i>
                </li>
                <li>
                    <a class="texto" href="./login">Ingresa</a>
                    <i class="fas fa-sign-in-alt"></i>
                </li>
                <li>
                    <a class="texto" href="#">Mis compras</a>
                    <i class="fas fa-store"></i>
                </li>
          </ul>
      </nav> 
    </header>
    <div class="baner-header">
        <img  src="/images/img-home-banner.jpg" alt="banner">
      </div> 
    <!-- MAIN-->

    <!-- FORMULARIO-->

    <form action="/create-product" method="POST" class="create-form">
        <div class="control-formulario">
            <label for="product">Nombre del producto: </label>
            <input type="text" name="product" class="control">
        </div>
        <div class="control-formulario">
            <label for="precio">Precio: </label>
            <input type="text" name="precio" placeholder="123.56" class="control">
        </div>
        <div class="control-formulario">
            <label for="">Categoria:</label>
            <select name="categoria" id="" class="control">
                <option value="hotgar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentaria</option>
            </select>
        </div>
        <div class="control-formulario">
            <label for="">Ciudad:</label>
            <select name="ciudad" id="" class="control">
                <option value="bogota">Bogota</option>
                <option value="medellin">Medellin</option>
                <option value="barranquilla">Barranquilla</option>
            </select>
        </div>
        <div class="control-formulario">
            <label for="">Descripcion:</label>
            <textarea name="descripcion" class="control"></textarea>
        </div>
        <div class="control-formulario">
            <label for="enOferta">Esta en oferta: </label>
            <input type="radio" name="enOferta">
            <label for="nOenOferta">No esta en oferta: </label>
            <input type="radio" name="nOenOferta">
        </div>
        <button type="submit" class="boton-formulario">Enviar</button>
        <button type="reset" class="boton-formulario">Borrar</button>
        
    </form>

    <main>
        <section>
            <h2 class="titulares">Basado en tu última visita</h2>
            <section class="articulos">
                <article class="container-article">
                    <div class="image-class">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera"> 
                    </div>
                    <div class="content-info-product">
                        <div class="delivery">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="content-precio">
                            <div class="precio">
                                <p >$6.770</p>
                            </div>
                            <div class="descuento">    
                                <p >40% OFF</p>
                            </div>
                        </div>    
                        <p class="descripcion"><strong>Cafetera Moulinex</strong></p>
                    </div>    
                </article>
                <article class="container-article">
                    <div class="image-class">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook" >
                    </div>
                    <div class="content-info-product">
                        <div class="delivery">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="content-precio">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>    
                        <p class="descripcion"><strong>MacBook Pro 2019</strong></p>
                    </div>
                </article>  
                <article class="container-article">
                    <div class="image-class">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                    </div>
                    <div class="content-info-product">
                        <div class="delivery">
                            <i class="fas fa-truck"></i>
                        </div>   
                        <div class="content-precio">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>     
                        <p class="descripcion"><strong>Samsung Galaxy S10</strong></p>
                    </div>    
                </article>
                <article class="container-article">
                    <div class="image-class">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="TV Samsung">
                    </div>
                    <div class="content-info-product">
                        <div class="delivery">
                            <i class="fas fa-truck"></i>
                        </div>    
                        <div class="content-precio">  
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>    
                        <p class="descripcion"><strong>SmartTv Samsung</strong></p>
                    </div>    
                </article>
                <article class="container-article">
                    <div class="image-class">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera"> 
                    </div>
                    <div class="content-info-product">
                        <div class="delivery">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="content-precio">
                            <div class="precio">
                                <p >$6.770</p>
                            </div>
                            <div class="descuento">    
                                <p >40% OFF</p>
                            </div>
                        </div>    
                        <p class="descripcion"><strong>Cafetera Moulinex</strong></p>
                    </div>    
                </article>
                <article class="container-article">
                    <div class="image-class">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook" >
                    </div>
                    <div class="content-info-product">
                        <div class="delivery">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="content-precio">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>    
                        <p class="descripcion"><strong>MacBook Pro 2019</strong></p>
                    </div>
                </article>  
                <article class="container-article">
                    <div class="image-class">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                    </div>
                    <div class="content-info-product">
                        <div class="delivery">
                            <i class="fas fa-truck"></i>
                        </div>   
                        <div class="content-precio">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>     
                        <p class="descripcion"><strong>Samsung Galaxy S10</strong></p>
                    </div>    
                </article>
                <article class="container-article">
                    <div class="image-class">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="TV Samsung">
                    </div>
                    <div class="content-info-product">
                        <div class="delivery">
                            <i class="fas fa-truck"></i>
                        </div>    
                        <div class="content-precio">  
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>    
                        <p class="descripcion"><strong>SmartTv Samsung</strong></p>
                    </div>    
                </article>
            </section>    
        </section>
        <section>
            <h2 class="titulares">Sección de Ofertas</h2>
            <section class="articulos">
                <article class="container-article">
                    <div class="image-class">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera"> 
                    </div>
                    <div class="content-info-product">
                        <div class="delivery">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="content-precio">
                            <div class="precio">
                                <p >$6.770</p>
                            </div>
                            <div class="descuento">    
                                <p >40% OFF</p>
                            </div>
                        </div>    
                        <p class="descripcion"><strong>Cafetera Moulinex</strong></p>
                    </div>    
                </article>
                <article class="container-article">
                    <div class="image-class">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
                    </div>
                    <div class="content-info-product">
                        <div class="delivery">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="content-precio">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>    
                        <p class="descripcion"><strong>MacBook Pro 2019</strong></p>
                    </div>
                </article>  
                <article class="container-article">
                    <div class="image-class">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                    </div>
                    <div class="content-info-product">
                        <div class="delivery">
                            <i class="fas fa-truck"></i>
                        </div>   
                        <div class="content-precio">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>     
                        <p class="descripcion"><strong>Samsung Galaxy S10</strong></p>
                    </div>    
                </article>
                <article class="container-article">
                    <div class="image-class">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="TV Samsung">
                    </div>
                    <div class="content-info-product">
                        <div class="delivery">
                            <i class="fas fa-truck"></i>
                        </div>    
                        <div class="content-precio">  
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>    
                        <p class="descripcion"><strong>SmartTv Samsung</strong></p>
                    </div>    
                </article>
                <article class="container-article">
                    <div class="image-class">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera"> 
                    </div>
                    <div class="content-info-product">
                        <div class="delivery">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="content-precio">
                            <div class="precio">
                                <p >$6.770</p>
                            </div>
                            <div class="descuento">    
                                <p >40% OFF</p>
                            </div>
                        </div>    
                        <p class="descripcion"><strong>Cafetera Moulinex</strong></p>
                    </div>    
                </article>
                <article class="container-article">
                    <div class="image-class">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
                    </div>
                    <div class="content-info-product">
                        <div class="delivery">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="content-precio">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>    
                        <p class="descripcion"><strong>MacBook Pro 2019</strong></p>
                    </div>
                </article>  
                <article class="container-article">
                    <div class="image-class">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                    </div>
                    <div class="content-info-product">
                        <div class="delivery">
                            <i class="fas fa-truck"></i>
                        </div>   
                        <div class="content-precio">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>     
                        <p class="descripcion"><strong>Samsung Galaxy S10</strong></p>
                    </div>    
                </article>
                <article class="container-article">
                    <div class="image-class">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="TV Samsung">
                    </div>
                    <div class="content-info-product">
                        <div class="delivery">
                            <i class="fas fa-truck"></i>
                        </div>    
                        <div class="content-precio">  
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>    
                        <p class="descripcion"><strong>SmartTv Samsung</strong></p>
                    </div>    
                </article>
            </section>    
        </section>
        <!--<section>
            <h2 class="titulares">Sección de Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" style="width: 80vw;"> 
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <p class="descripcion"><strong>Cafetera Moulinex</strong></p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook" style="width: 80vw;">
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <p class="descripcion"><strong>MacBook Pro 2019</strong></p>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" style="width: 80vw;">
                <p class="precio" >$70.500</p>
                <p class="descuento">10% OFF</p>
                <p class="descripcion"><strong>Samsung Galaxy S10</strong></p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="TV Samsung" style="width: 80vw;">
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <p class="descripcion"><strong>SmartTv Samsung</strong></p>
            </article>
        </section>-->
    </main>
    <footer>
        <div style="text-align:center">
            <div class="icons"> 
                <i class="far fa-credit-card"></i>
            </div>    
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div style="text-align:center">
            <div class="icons">
                <i class="fas fa-hand-holding-usd"></i>
            </div> 
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div style="text-align:center">
            <div class="icons">
                <i class="fas fa-shield-alt"></i>
            </div>
            <h3> Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
            <h3>
        </div>
        <h3 style="text-align:center">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
  </body>
</html>
