<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form method="POST">
      <!-- Adicionar el acccion-->
      <div>
        <label for="nombre">Nombre de usuario</label>
        <input type="text" name="nombre" id="nombre" />
        <span class="feedback"></span>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
        <span class="feedback"></span>
      </div>
      <button class="btn-enviar"><a href="/">ENVIAR</a></button>
    </form>
  </body>
</html>
