/* 
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; 
*/

/* Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /*border: 2px solid red;*/
}

body {
  font-family: 'Roboto', sans-serif;
}

/* HEADER */
.main-header {
  background-color: #eac926;
  padding: 20px; /*Relleno de los elementos */
  position:fixed;
  width: 100%;
  z-index: 100; /* Sirve cuando hay elementos con position relative o absolute*/
}

.main-header-top-bar {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin-bottom: 24px;
  
}

/* ANIMACION */

.logo {
  width: 50%;
  animation: aumentar 1s lineal infinite normal;
}

@keyframes aumentar {
  0% {
    transform: scale(1);
  }
  100% {transform: scale(1.2);
  }
}

.search-input {
  display: flex;
  align-items: start;
  margin-right: 5px;
  gap: 10px;
  padding: 10px;
}

.input {
  width: 100%;
  height: 25px;
  border-radius: 16px;
  border: 1px solid  black;
}

header h2 marquee i {
  margin-right: 10px;
 }

.hamburger-button { 
  /*margin: 1em auto;
  text-align: center;
  width: fit-content;
  padding: 0.5em;
  border-radius: 8px;
  margin-bottom: 0.5em;*/
  background-color: #03264C;
  color: white;
  display: block;
  max-width: 50px;
  padding: 15px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 17px;
  margin: auto;
}

.main-nav-bar {
  display: none;
}

.main-nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.main-nav-bar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}

.baner-header {
  margin: 0px;
}

.baner-header img {
  margin-top: 250px;
  width: 100%;
  background-size: cover;
}

/* FORMULARIO */
/* FORMULARIO */
.create-form {
  padding: 20px 15px;
}
.control-formulario {
  margin-bottom: 15px;
}

.control-formulario label {
  margin-bottom: 5px;
  font-style: italic;
  display: block;
}

.control {
  width: 100%;
  padding: 8px;
}

.boton-formulario {
  background-color: #39b54a;
  border: none;
  font-size: 20px;
  color: #ffffff;
  padding: 5px 10px;
  border-radius:16px;
}

/* MAIN */

main {
  width: 90%;
  margin: auto;
}

article {
  margin-bottom: 10px;
}

main section article i{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}


/* ----- CARRUSEL ----- */

.control-formulario-oferta {
  margin-bottom: 24px;
}

.content-precio {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.content-precio .precio {
  font-weight: bold;
  width: 40%;
}

.content-precio .descuento {
  width: 60%;
}

.image-class {
  border: 1px solid #ebebeb;
  padding: 15px
}

.delivery {
  margin: 0px;
  color: rgb(8, 238, 8);
  font-size: 24px;
}

.delivery i {
  transition: all;
}

.delivery i:hover {
  transform: rotate(-90deg);
  /*
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);*/
  
  
}

.content-info-product {
  border: 1px solid #ebebeb;
  padding: 15px;
  position:relative; /*Posicion del carro para que este en el contenedor */
}

.texto {
  font-size: 12px;
}

.titulares {
  font-size:24px;
  margin: 10px;
  margin-top:  24px;
}

.precio {
  font-size: 18px;
}

.descuento {
  font-size:16px;
}

/*
.descripcion strong:hover {
  opacity: 1;
}

.descripcion strong {
  opacity: 0;
}*/

.container-article:hover .content-info-product .descripcion {
  display: block;
}

.container-article .content-info-product .descripcion {
  display: none;
}

.icons {
  margin-top: 24px;
  margin-bottom: 24px;
  color: rgb(7, 7, 148);
  font-size: 34px;
}

.container-article {
  /*Contenedor de las imagenes*/
  padding: 16px;
  margin: 16px;
  width: 300px;
}

.container-article:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgb(204, 204, 204);
}

main section article img{
  width: 100%; /*Se ajusta la imagen al contenedor*/
}

section article .content-info-product .descuento {
  color: green;
  font-weight: bold;
}

.icons i:hover {
  color: green;
}

.icons i {
  transition: color; 
}

.footer-copyright {
  margin-top: 24px;
}

.boton-formulario:hover {
  background-color: #0022AA;
  color: #ffffff;
}

/* MEDIA QUERRY*/
@media (min-width:10px) and (max-width: 480px){
  /** @media(max-width:769px) and (min-width:362px) {*/

  .text-header {
    font-size:16px;
    margin: 24px;
  }

  .articulos {
    display: flex;
    flex-wrap: wrap;
    border: 5px dotted blue;
  }
  
  article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  section article div .descripcion {
    display: none;
  }

  /* FORMULARIO */
  .create-form {
    padding: 20px 15px;
  }
  .control-formulario {
    margin-bottom: 15px;
  }
  
  .control-formulario label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
  }
  
  .control {
    width: 100%;
    padding: 8px;
  }

  .boton-formulario {
    background-color: #39b54a;
    border: none;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius:16px;
  }

}

@media (min-width:481px) and (max-width: 768px){
  /** {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }*/

    .text-header {
      margin: 24px;
      font-size: 26px;
    }

    article {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .main-nav-bar {
      display: block;
    }

    .main-header-top-bar {
      display:flex;
      justify-content: space-between;
    }
    
    .hamburger-button {
      display: none;
    }

    .main-nav-bar {
      display: flex;
      justify-content: space-between;
      text-align: center;
    }
  
    .main-nav-bar ul {
      display: flex;
    }
  
    .main-nav-bar li {
      margin: 0 5px;
    }

    .main-nav-bar li a {
      font-size: 17px;
      text-align: center;
    }

    .articulos {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
}

@media (min-width:769px) {

  article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .main-nav-bar {
    display: block;
  }

  .text-header {
    margin: 24px;
    font-size: 46px;
    display: flex;
  }

  .main-header-top-bar {
    display:flex;
    justify-content: space-between;
  }

  .hamburger-button {
    display: none;
  }
  
  .main-nav-bar {
    display: flex;
    justify-content: space-between;
  }

  .main-nav-bar ul {
    display: flex;
  }

  .main-nav-bar li {
    margin: 0 5px;
  }
  .articulos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 80px;
    margin-left: 80px;
  }
  .footer-copyright {
    font-size: 16px;
    margin-left: 20px;
    
  } 
}

/*
1. 576
2. 768
3. 992
4. 1200 

*/